


body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-container {
  display: flex;
}

.content {
  margin-left: 220px; /* espacio para el sidebar */
  padding: 2rem;
  flex: 1;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.navbar {
  background-color: #4CAF50;
  padding: 1rem 2rem;
  color: white;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}



.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer a {
  color: #4CAF50;
  text-decoration: none;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 1rem;
  height: 100vh;
  position: fixed;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 1rem 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}






